<p class="et T" id="et">Quick Setup - Start</p>
<div class="con1 M">
<p class="ct"></p>
<p class="bl"></p>
<div class="con2">
<p class="br"></p>
<p class="T" id="t_note1">Run the Quick Setup to manually configure your internet connection and wireless settings.</p>
<p class="br"></p>
<p class="T" id="t_note2">To continue, please click the Next button.</p>
<p class="br"></p>
</div>
<p class="bl"></p>
<p class="tail ctr">
<input type="button" class="button L T T_next" value="Next" onclick="nextPage()" />
</p>
</div>
<script language="javascript" type="text/javascript">
$.loadHelpFrame("WzdStartHelpRpm.htm");
if ($.fd == 0) {
	$.fd = 1;
	$.act(ACT_SET, IGD_DEV_INFO, null, null, ["X_TP_isFD=1"]);
	$.exe();	
}


if (!$.mainParam) {
	$.qs = [];
	$.qd = {};
	$.qm = {
		"qsStart.htm": { __enable: true, __default: "qsType.htm", type:"qsType.htm", wl:"qsBandSelect.htm"},
		//"sysMode.htm": { __enable: true, __default: "qsDsl.htm", DSL:"qsDsl.htm", ETH:"qsType.htm", USB_3G:"qs3g.htm"},
		"qsDsl.htm": { __enable: true, __default: "qsType.htm" },
		"qsType.htm": { __enable: true, __default: "qsPPP.htm", auto:"qsAuto.htm", ppp:"qsPPP.htm", staip: "qsStaIP.htm", pppoa: "qsPPPoA.htm", ipoa: "qsIPoA.htm", br: "qs3g.htm", dhcp: "qsMacClone.htm", l2tp:"qsL2tp.htm", pptp:"qsPptp.htm" },
		"qsAuto.htm": { __enable: true, __default: "qsStaIP.htm", staip:"qsDetectErr.htm", dhcp:"qsMacClone.htm", ppp:"qsPPP.htm"},
		"qsDetectErr.htm": { __enable: true, __default: "qsStaIP.htm", staip:"qsStaIP.htm", macclone:"qsMacClone.htm", dhcp:"qsWl.htm"},
		"qsPPP.htm": { __enable: true, __default: "qsWl.htm" },
		"qsStaIP.htm": { __enable: true, __default: "qsWl.htm" },
		"qsPPPoA.htm": {__enable: true, __default: "qsWl.htm" },
		"qsIPoA.htm": {__enable: true, __default: "qsWl.htm" },
		"qs3g.htm": {__enable: true, __default: "qsBandSelect.htm" },
		"qsL2tp.htm": {__enable: true, __default: "qsWl.htm" },
		"qsPptp.htm": {__enable: true, __default: "qsWl.htm" },
		"qsMacClone.htm": {__enable: true, __default: "qsWl.htm" },
		//"qsBandSelect.htm": {__enable: true, __default: "qsWl.htm", wl2g: "qsWl.htm", wl5g: "qsWl5G.htm", save: "qsSave.htm"},
		"qsWl.htm": {__enable: true, __default: "qsMacClone.htm", save: "qsSave.htm"},
		"qsWl5G.htm": {__enable: true, __default: "qsSave.htm"},
		/* "iptv.htm": { __enable: true, __default: "qsVoiceAcc.htm" }, */
		"qsVoiceAcc.htm": { __enable: true, __default: "qsSave.htm" },
		"qsSave.htm": { __enable: true, __default: "qsEnd.htm" },
		"qsEnd.htm": { __enable: true, __default: "no.htm" }
	};
	/* if (!INCLUDE_IPTV) $.qm["iptv.htm"].__enable = false; */
	if (!INCLUDE_LAN_WLAN) $.qm["qsWl.htm"].__enable = false;
	if (!INCLUDE_WAN_MODE) $.qm["sysMode.htm"].__enable = false;
	if (!INCLUDE_USB_3G_DONGLE) $.qm["qs3g.htm"].__enable = false;
	if (!INCLUDE_VOIP) $.qm["qsVoiceAcc.htm"].__enable = false;
	$.qd.sysMode = "ETH";
	$.qd.realMode = "ETH"
	$.qf = {
		next: function(arg) {
			$.qs.push($.curPage);
			$.qm[$.curPage].__v = true;
			for (var path = $.curPage; $.curPage; )
			{
				if (arg && $.qm[path][arg]) path = $.qm[path][arg];
				else path = $.qm[path].__default;
				arg = undefined;
				if ($.qm[path].__enable) return $.loadMain(path, true);
			}
		},
		prev: function() {
			$.qm[$.curPage].__v = true;
			$.loadMain($.qs.pop(), true);
		}
	}
}
function nextPage()
{
	var pStk;
	var wanIPList = $.act(ACT_GL, WAN_IP_CONN, null, null, ["enable", "X_TP_IPv4Enabled", "DNSServers", "defaultGateway"]);
	var wanPPPList = $.act(ACT_GL, WAN_PPP_CONN, null, null, ["enable", "X_TP_IPv4Enabled", "DNSServers", "defaultGateway"]);
	var wanL2tpList = $.act(ACT_GL, WAN_L2TP_CONN, null, null, ["enable", "DNSServers", "defaultGateway"]);
	var wanPptpList = $.act(ACT_GL, WAN_PPTP_CONN, null, null, ["enable", "DNSServers", "defaultGateway"]);
	var wanTypes = $.act(ACT_GL, WAN_COMMON_INTF_CFG, null, null, ["WANAccessType"]);
	var dnsServer;
	var dfgw;
	if(!$.exe())
	{

		$.each(wanTypes, function()
		{
			if (this.WANAccessType == "Ethernet")
				pStk = this.__stack;
		});
		
		$.each(wanIPList, function()
		{
			var tmpStk = $.stkPop(this.__stack, 2);
			if (pStk == tmpStk && this.X_TP_IPv4Enabled == 1 && this.enable == 1)
			{
				dnsServer = this.DNSServers;
				dfgw = this.defaultGateway;
			}
		});
		$.each(wanPPPList, function()
		{
			var tmpStk= $.stkPop(this.__stack, 2);
			if (pStk == tmpStk && this.X_TP_IPv4Enabled == 1 && this.enable == 1) 
			{
				dnsServer = this.DNSServers;
				dfgw = this.defaultGateway;
			}
		});
		$.each(wanL2tpList, function()
		{
			var tmpStk = $.stkPop(this.__stack, 1);
			if (pStk == tmpStk && this.enable == 1)
			{
				dnsServer = this.DNSServers;
				dfgw = this.defaultGateway;
			}
		});
		$.each(wanPptpList, function()
		{
			var tmpStk = $.stkPop(this.__stack, 1);
			if (pStk == tmpStk && this.enable == 1)
			{
				dnsServer = this.DNSServers;
				dfgw = this.defaultGateway;
			}
		});

	};

	if(dnsServer && dfgw)
	{
		var dns1 = dnsServer.split(",")[0];
		var dns2 = dnsServer.split(",")[1];

		if(($.ip2num(dns1) !== 0 || $.ip2num(dns2) !== 0) && $.ip2num(dfgw) !== 0)
		{
			$.qf.next();//$.qf.next("wl");
		}
		else
			$.qf.next();
			
	}
	else
		$.qf.next();
}
</script>