<script language="javascript" type="text/javascript">
    $.loadHelpFrame("SysRebootHelpRpm.htm");
    function doRestart()
    {
        if(confirm(c_str.creboot))
        {
            $.guage(["<span class='T T_rebooting'>"+s_str.rebooting+"</span>", "<span class='T T_wait_reboot'>"+s_str.wait_reboot+"</span>",], 100, $.guageInterval, function(){window.parent.$.refresh();});
            $.act(ACT_OP, ACT_OP_REBOOT);
            $.exe(true);
        }
    }
            
    </script>
    <p class="et T" id="et">System Reboot</p>
    <div class="con1 L">
    <p class="ct"></p>
    <p class="bl"></p>
    <div class="con2">
    <p class="T" id="t_info">Click Reboot button below to restart the device without any change to your current settings.</p>
    <p class="br"></p>
    <p class="tail"><input type="button" class="button XL T T_reboot" id="button_reboot" value="Reboot" onclick="doRestart();" /></p>
    </div>
    <p class="bl"></p>
    <p class="tail" id="tail">&nbsp;</p>
    </div>
    