<!DOCTYPE html>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<link rel="Stylesheet" href="static/css/main.css" type="text/css" />
	<script src="static/js/oid_str.js" type="text/javascript"></script>
	<script src="static/js/str.js" type="text/javascript"></script>
	<script src="static/js/err.js" type="text/javascript"></script>
	<script src="static/js/help.js" type="text/javascript"></script>
	<script src="static/js/lib.js" type="text/javascript"></script>
	<script src="static/js/3g.js" type="text/javascript"></script>
	<link rel="Shortcut Icon" href="static/img/icon.jpg" type="image/jpeg" />
	<meta http-equiv=Content-Type content="text/html; charset=utf-8" />
</head>
<body>
	<div id="con">
		<div id="main" class="main"></div>
	</div>
	<div id="preload"><span class="load"></span><div class="cl"></div><div class="cln"></div></div>
	<div id="cover" class="nd"></div>
	<iframe name="up_frame" id="up_frame" class="nd"></iframe>
</body>
</html>
<script type="text/javascript">
function Click(){ return false; }
document.oncontextmenu=Click;
($.loadMain)("status.htm");
</script>